---
layout: default
title: 2009 Robot
section_id: about
---

<div class='full parallax' style='background-image: url(images/robots/2015robotheader.jpg); color: #fff;'>
    <div class='row'>
        <div class='twelve columns'>
            {% include section-header.html title="2011 Robot" color="#fff" tagline="2011 Logo Motion" class="big" %}
        </div>
    </div>
    <div class='four spacing'></div>
</div>

<div class="media-object">
  <div class="media-object-section right">
    <div class="thumbnail">
      <img src= "images/robots/2011robot.jpg">
    </div>
  </div>
</div>
{% include robot-header.html title="Facts" %}
    <h3><a href="#">Technical Book</a></h3>
    <ul class="no-bullet">
        <h3 >   Drive Train:</h3>
        <ul>
            <h6>  -Eight 5" custom wheels with an 1/16" drop</h6>
            <h6>  -14 feet per second</h6>
        </ul>
        <h3>    Manipulators:</h3>
        <ul>
            <h6> -A cargo collector to intake cargo from floor</h6>
            <h6> -Elevator to place on level 1 and 2</h6>
            <h6> -Hatch panel collector with 2 "fingers" that hook on</h6>
        </ul>
        <h3>    Auto:</h3>
        <ul>
            <h6> -A camera to help steer</h6>
            <h6> -Can place a hatch and collect another hatch</h6>
        </ul>
        <h3>    End Game:</h3>
        <ul>
            <h6> -A suction cup design for climbing to level 3</h6>
        </ul>
    </ul>