---
layout: default
title: 2015 Robot
section_id: about
---

<div class='full parallax' style='background-image: url(images/robots/2015robotheader.jpg); color: #fff;'>
    <div class='row'>
        <div class='twelve columns'>
            {% include section-header.html title="Darth Conveydor" color="#fff" tagline="2015 FIRST RECYCLE RUSH Robot" class="big" %}
        </div>
    </div>
    <div class='four spacing'></div>
</div>

<div class="media-object">
  <div class="media-object-section right">
    <div class="thumbnail">
      <img src= "images/robots/2015robotcrop.jpg">
    </div>
  </div>
    <p> </p>
{% include robot-header.html title="Facts" %}
    
    <ul class="no-bullet">
        <h3>    Weight:</h3>
        <ul>
            <h6>119.8 lbs</h6>
        </ul>
        <h3>    Height:</h3>
        <ul>
             <h6>40 in</h6>
        </ul>
        <h3>   Conveyor</h3>
        <ul>
            <h6> - 7 ft long</h6>
            <h6> - Carbon Fiber construction</h6>
            <h6> - 3 double extension cylinders</h6>
            <h6> - 9:1 planetary gearbox on lift motor</h6>
            <h6> - <b>Fully Autonomous</b> 
                (<a href="https://github.com/FRCTeam1987/Robot2015" target="_blank">see 2015 code</a>)</h6>
            <h6> - Pushers can push 240lbs</h6>
            <h6> - 4 proximity sensors and 1 string potentiometer</h6>
            <h6> - Process all 30 human player totes</h6>
            <h6> - Produces 5 cap ready six stacks</h6>
        </ul>
    

    </ul>