---
layout: default
title: 2016 Robot
section_id: about
---

<div class='full parallax' style='background-image: url(images/robots/2016robotheader.jpg); color: #fff;'>
    <div class='row'>
        <div class='twelve columns'>
            {% include section-header.html title="Knight Mare" color="#fff" tagline="2016 FIRST STRONGHOLD Robot" class="big" %}
        </div>
    </div>
    <div class='four spacing'></div>
</div>

<div class="media-object">
  <div class="media-object-section right">
    <div class="thumbnail">
      <img src= "images/robots/2016robot.png">
    </div>
  </div>
    <p> </p>
{% include robot-header.html title="Facts" %}
    
    <ul class="no-bullet">
        <h3>    Weight:</h3>
        <ul>
            <h6>98 lbs</h6>
        </ul>
        <h3 >   Capabilities:</h3>
        <ul>
            <h6> - Shoot high and low goals</h6>
            <h6> - Go over all defenses</h6>
            <h6> - Shoot in auto</h6>
            <h6> - Cross any defense in auto</h6>
        </ul>
    

    </ul>