---
layout: default
title: 2020 Robot
section_id: about
---
<div class='full parallax' style='background-image: url(images/2018_Season/Week_1/pic_4.JPG); color: #fff;'>
    <div class='row'>
        <div class='twelve columns'>
            {% include section-header.html title="Mando" color="#fff" tagline="2020 Infinite Recharge" class="big" %}
        </div>
    </div>
    <div class='four spacing'></div>
</div>

<div class="media-object">
  <div class="media-object-section right">
    <div class="thumbnail">
      <img src= "images/robots/2020robot.jpg">
    </div>
  </div>
</div>
{% include robot-header.html title="Facts" %}
    <h3><a href="#">Technical Book</a></h3>
    <ul class="no-bullet">
        <h3 >   Drive Train:</h3>
        <ul>
            <h6>  -6 6" wheels</h6>
            <h6>  -NEEDS UPDATED 14 feet per second</h6>
        </ul>
        <h3>    Manipulators:</h3>
        <ul>
            <h6> -A collector to intake balls from the floor</h6>
            <h6> -Extendable arms to climb</h6>
        </ul>
        <h3>    Auto:</h3>
        <ul>
            <h6> -A limelight to help shoot</h6>
            <h6> -Automatic navigation of the field and shooting.</h6>
        </ul>
        <h3>    End Game:</h3>
        <ul>
            <h6> -Two extendable arms to climb</h6>
        </ul>
    </ul>
