---
layout: default
title: About Us
section_id: about
---

<div class='full parallax' style='background-image: url(images/2017-team.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="About Us" color="#fff" tagline="The Broncobots" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class="full">
  <div class="row">
    {% include section-header.html title="Team Broncobots Mission Statement" %}
    <p>
      The Broncobots are dedicated to helping the future through the recognition and advocacy of science, technology,
      engineering, and math. As FIRST participants, we strive to build a community devoted to education, innovation,
      and inspiration. By creating strong partnerships with mentors, teachers, and sponsors, we encourage communication
      and leadership as crucial parts of team success.
    </p>

    {% include section-header.html title="Team Focus" %}
    <p>
      The focus of our team has been to reach out to our community in every way possible. Over the past three years,
      we have attended school carnivals, school presentations, bingo raffles, Boy Scout meetings, school board
      meetings, and business meetings. We have been featured over ten times in publications, including three local
      newspapers, Honeywell newsletters, and even two books: FIRST Robotics: Rack N Roll and FIRST Robots: Behind
      The Design. We also created a team video as an introduction to FIRST for the Lee's Summit community that aired
      on the local government channel. The team has even published a book about our team and our history.
    </p>
    <p>
      In our own school, we have hosted booths at Freshmen Orientation Day, sponsored "Math and Science Teacher
      Appreciation Day," set up booths at football games, participated in Safe Halloween, and set up FIRST Robotics
      displays throughout the year. In cooperation with the two other Lee's Summit robotics teams, we have held PR
      meetings to schedule banquets, school visits, open houses, and community outreach projects. For two weeks this
      past summer, we sponsored robotics camps for elementary students.
    </p>
    <p>
      We've made our name known throughout the community in various ways. We have presented at eleven Lee's Summit
      elementary schools, three Lee's Summit middle schools, and a private Catholic school in a neighboring city. We
      have attended and presented at meetings for the Rotary Club, the Optimist Club, the National Tool and Machining
      Association, the Lee's Summit Economic Development Council, and the Kauffman Foundation. We also were excited to
      give presentations at Gail's Harley Davidson, Honeywell, the Engineering and Science Summit Institute at Kansas
      State University, and the Lee's Summit Chalk Walk. We, along with the other two Lee's Summit robotics teams,
      sponsored a booth at Downtown Days for a weekend to reach out to all Lee's Summit citizens.
    </p>
    <p>
      We have mentored Team 2894, the ACE Robotics Team from the African Centered Education Collegium Campus in
      Kansas City, Missouri. Team Driven also has helped mentor the team. Team 2894 has now had multiple successful
      seasons. The talented students of the ACE Team have been gracious hosts at their school, and we've enjoyed
      building with them.
    </p>
    <p>
      Over four years, we have sent over 1,500 letters to government officials. In 2008, there was a "Lee's Summit
      Robotics Day" proclamation from the mayor, and Governor Matt Blunt officially recognized and commended the
      FIRST Robotics Competition in the state of Missouri. Along with starting a mail campaign to government
      officials (fifteen different officials and federal offices), took the classic Flat Stanley and combinded it
      with the spirit of FIRST to start our Flat Creation Campaign. This was designed to reach people outside of our
      direct area of influence, like families and friends from other states and countries. During its time traveling,
      Flat Mammoth (from our 2008 Flat Creation Campaign) has visited a second grade classroom, attended a
      robot-themed movie night, enjoyed the warm weather in Honduras, and sat in the Missouri House of
      Representatives!
    </p>

    {% include section-header.html title="Team History" %}
    <p>
      Over the years, the Broncobots have had many significant achievements. We've attended over 16 regionals over
      the years, going to the Greater Kansas City Regional and and out of state regional each year. Team 1987 has
      also competed in summer competitions such as Ozark Mountain Brawl and Lee's Summit's Cowtown Throwdown. We
      haven't kept quiet about what we do either. We've had over 60 presentations at schools and businesses. This
      number does not include our countless booths at Missouri State Fair, Lee's Summit's Downtown Days, Oktoberfest,
      and Kansas City Maker Faire. The team has been featured in countless newspaper articles, been on TV, and is
      even mentioned in a book. We've also initiated letter campaigns, media broadcasts, toilet paper drives, and
      much more. Team 1987 The Broncobots has accomplished much since our founding year.
    </p>
  </div>
</div>
