---
layout: default
title: Summer Camps
section_id: about
---

<div class='full parallax' style='background-image: url(images/camps.jpg); color: #fff;'>
    <div class='row'>
        <div class='twelve columns'>
            {% include section-header.html title="Summer Camps" color="#fff" tagline="Fourth Through Sixth Grade" class="big" %}
        </div>
    </div>
    <div class='four spacing'></div>
</div>

<div class="full">
    <div class="row">
        <p>
            Each summer, the Lee's Summit North Broncobots host robotics camps for elementary and middle school aged
            students to begin exploring and developing an interest in engineering and technology. Much like the high
            school FIRST Robotics Competition (FRC) league, the students at camp are given a game task and one week
            to build a functional robot out of VEX parts that is capable of competing in the game designed for that
            camp. Students are divided into teams of two or three and go from brainstorming to competition as a team
            throughout the week of camp. Students are also given the chance to design flyers and websites for their
            team in some level, much like the high school students. The campers work closely with each other, as well
            as with high school mentors, to design the best robot they can. Throughout the week of camp, students
            come away with knowledge and new friendships. The Broncobots would like to thank all the students who
            participate in their camps for their hard work.
        </p>

        {% include section-header.html title="Engineering Camp" %}
        <p>Age Group - 1st, 2nd, and 3rd graders.</p>
        <p>Dates - TBD</p>
        <p>Times - Choose morning (9:30 A.M. - 12:30 P.M.) or afternoon session (1:30 P.M. - 4:30 P.M.).</p>
        <p>Prerequisites - None</p>
        <p>Price - $80 (Includes 15 hours of camp, t-shirt, and snacks).</p>
        <p>
            Engineering Camp is for 1st-3rd graders who have an interest in all things STEM. Throughout the week,
            campers will participate in Engineering Design Challenges as well as activities and experiments that
            introduce different types of engineering. Campers will learn about Safety, Architectural, Software,
            Chemical, Mechanical, and Aerospace Engineering throughout the week.
        </p>

        {% include section-header.html title="VEX Robotics Camp" %}
        <p>Age Group - 4th, 5th, and 6th graders.</p>
        <p>Dates - TBD</p>
        <p>Times - 9 A.M. to 3 P.M. each day.</p>
        <p>Prerequisites - None</p>
        <p>Price - $175 (Includes 30 hours of camp, t-shirt, snacks, and lunch on Friday)</p>
        <p>
            Robotics Camp is an introductory level camp for 4th-6th graders which allows students to build a VEX robot
            to compete in a game and achieve certain tasks. Campers work closely with high school members of the
            robotics team to build robots and develop game strategy. They also have the opportunity to design websites
            and flyers for their team. At the end of the week, teams will compete to be the Grand Champion of the
            Robotics Camp.
        </p>

        {% include section-header.html title="Registration" %}
        <p>
            <a target="_blank" href="http://www.lsnbroncoscamps.com/robotics-and-engineering-camps.cfm">Register online</a>
            for summer camps before spots fill.
        </p>

        {% include section-header.html title="Questions?" %}
        <p>Contact camp director Hillary Griffith for more details at <a href="mailto:hillary.griffith@lsr7.net">hillary.griffith@lsr7.net</a>.</p>
    </div>
</div>
