---
layout: default
title: Summer Camps
section_id: about
---

<div class='full parallax' style='background-image: url(images/camps.jpg); color: #fff;'>
    <div class='row'>
        <div class='twelve columns'>
            {% include section-header.html title="Summer Camps" color="#fff" tagline="Fourth Through Sixth Grade" class="big" %}
        </div>
    </div>
    <div class='four spacing'></div>
</div>

<div class="full">
    <div class="row">
        <p>
            Each summer, the Lee's Summit North Broncobots host robotics camps for elementary and middle school aged
            students to begin exploring and developing an interest in engineering and technology. Much like the high
            school FIRST Robotics Competition (FRC) league, the students at camp are given a game task and one week
            to build a functional robot out of VEX parts that is capable of competing in the game designed for that
            camp. Students are divided into teams of two or three and go from brainstorming to competition as a team
            throughout the week of camp. Students are also given the chance to design flyers and websites for their
            team in some level, much like the high school students. The campers work closely with each other, as well
            as with high school mentors, to design the best robot they can. Throughout the week of camp, students
            come away with knowledge and new friendships. The Broncobots would like to thank all the students who
            participate in their camps for their hard work.
        </p>

        {% include section-header.html title="Engineering Camp" %}
        <p>Age Group - 1st, 2nd, and 3rd graders.</p>
        <p>Dates - TBA</p>
        <p>Times - Choose morning (9 A.M. - 12 P.M.) or afternoon session (1 P.M. - 4 P.M.).</p>
        <p>Prerequisites - None</p>
        <p>Price - $75 (Includes 15 hours of camp, t-shirt, and snacks).</p>

        {% include section-header.html title="VEX Robotics Camp" %}
        <p>Age Group - 4th, 5th, and 6th graders.</p>
        <p>Dates - TBA</p>
        <p>Times - 9 A.M. to 3 P.M. each day.</p>
        <p>Prerequisites - None</p>
        <p>Price - $170 (Includes 30 hours of camp, t-shirt, snacks, and lunch on Friday)</p>
        <p>
            The Level 1 camp is the introductory level camp offered by the Broncobots. This camp allows students to
            build a basic VEX robot which must compete in a game and achieve certain tasks. Working closely with
            high-school mentors from the Broncobots, campers develop robots and game strategy, have the opportunity
            to design websites and flyers for their team, just like high school robotics teams, and finish camp
            with an understanding of robotics, as well as new friendships and an appreciation for science and
            technology.
        </p>

        {% include section-header.html title="Registration" %}
        Check back later this Spring for more information about our summer camps.

        {% include section-header.html title="Questions?" %}
        <p>Contact camp director Hillary Griffith for more details at <a href="mailto:hillary.griffith@lsr7.net">hillary.griffith@lsr7.net</a>.</p>
    </div>
</div>
