version: '3.8'

services:
  jekyll:
    build: .
    ports:
      - "4000:4000"
    volumes:
      - .:/site
    command: sh -c "npm install && bundle install && bundle exec jekyll serve --host 0.0.0.0 --watch"