---
layout: default
section_id: home
slides:
  - bg: images/slides/Turret_Slide.jpg
    small_title:
      klass: bottom-to-top
      text: FRC Team 1987
    title:
      klass: bottom-to-top
      text: The Broncobots
  - bg: images/slides/GKC_Winner.jpg
    small_title:
      klass: bottom-to-top
      text: 2017 Greater Kansas City Regional
    title:
      klass: bottom-to-top
      text: Winner
  - bg: images/slides/EI_Iowa.jpg
    small_title:
      klass: bottom-to-top
      text: 2017 Iowa Regional
    title:
      klass: bottom-to-top
      text: Engineering Inspiration


works:
  - image: images/home/Robots.jpg
    title: Our Robots
    link_to: robots.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: images/home/OurTeam.jpg
    title: About Us
    link_to: about-us.html
    klass: graphi-design
    desc: About Team 1987
  - image: images/home/GKCCheer.jpg
    title: Our Awards
    link_to: our-awards.html
    klass: graphi-design
    desc: Through Eleven Seasons
  - image: images/home/AboutFIRST.jpg
    title: FIRST Robotics
    link_to: first.html
    klass: graphi-design
    desc: FIRST
  - image: images/home/Sponsors.jpg
    title: Our Sponsors
    link_to: sponsors.html
    klass: graphi-design
    desc: Thank You!
  - image: images/home/SummerCamps.jpg
    title: Summer Camps
    link_to: camps.html
    klass: graphi-design
    desc: Inspiring Young Engineers
  - image: images/home/Media.jpg
    title: Media
    link_to: media.html
    klass: graphi-design
    desc: Pictures and Videos
  - image: images/home/Resources.jpg
    title: Resources
    link_to: resources.html
    klass: graphi-design
    desc: Helpful Information

robots:
  - image: images/robots/2017robot.jpg
    title: Perseus
    klass: graphic-design
    link_to: 2017-robot.html
    desc: 2017 FIRST STEAMWORKS 
  - image: images/robots/2016robot.jpg
    title: Knight Mare
    klass: graphic-design
    link_to: 2016-robot.html
    desc: 2016 FIRST STRONGHOLD
  - image: images/robots/2015robot.jpg
    title: Darth Conveydor
    klass: graphic-design
    link_to: 2015-robot.html
    desc: 2015 FIRST RECYCLE RUSH
  - image: images/robots/2008robot.jpg
    title: Previous Robots
    klass: graphic-design
    link_to: previous-robots.html
    desc: Back to the Past


milestones:
  - icon: line-chart
    from: 0
    to: 11
    title: Seasons Competed
  - icon: trophy
    from: 0
    to: 31
    title: Competitions
  - icon: flag
    from: 0
    to: 7
    title: Blue Banners
  - icon: thumbs-up
    from: 0
    to: 999
    title: Future Engineers Inspired

---


<div class='mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign class = 'current' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li class="{{class}}"></li>
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}

        <li class='frame {{style}} {{ slide.klass }}'>
          <div class='bg' style='background-image: url({{ slide.bg}});'></div>
          <div class='small-title {{ slide.small_title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.small_title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='title {{ slide.title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='buttons-wrapper {{ slide.buttons.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a class='button {{ button.klass }}' href='{{ button.link_to }}'>{{ button.text }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="full" style="background: #f5f5f5;">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Welcome" %}
      <div class="spacing"></div>
      <p>
        We are the Broncobots, Team 1987, based out of Lee's Summit, Missouri. The team is made up of many students
        attending <a href="http://lsnhs.lsr7.org/">Lee's Summit North High School</a>, 5 coaches, several amazing
        mentors, and multiple gracious, corporate sponsors! Our team is dedicated to
        <a href="http://www.usfirst.org/">FIRST</a> (For Inspiration and Recognition of Science and Technology), our
        community, and working hard to encourage <a href="http://kcstem.org/">STEM</a> (Science, Technology, Engineering,
        and Math) topics within our community. The Broncobots are looking forward to competing in each and every FRC
        Season. To learn more about our team, check out the About Us section of our website!
      </p>
      <p>
        We are currently building our 2018 robot and updating our web site with current content.
      </p>
      <p>
        <strong>Check back here often for events, competitions, and general team information!</strong>
      </p>
      <div class="three spacing"></div>
    </div>
  </div>

  <div class="mod modGallery">
    <ul class="gallery small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      {% for work in page.works %}
      <li class="{{ work.klass }}">
        <a href='{{ work.link_to }}'>
          <img alt="" src="{{ work.image }}" />
          <div class='overlay'>
            <div class='thumb-info'>
              <h3>{{ work.title }}</h3>
              <p>{{ work.desc }}</p>
            </div>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<!--<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
      </div>


      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for work in page.works %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}'>
              <img alt="" src="{{ work.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>

    </div>
  </div>
-->
  <div class='four spacing'></div>
</div>
<div class="four spacing"></div>

<div class="row">
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Sponsors' desc='The Broncobots could not be a team without all the help we receive from our sponsors.' icon_class='fa fa-heart' delay='0' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Awards' desc='We are successful both on and off the competition field.' icon_class='fa fa-trophy' delay='200' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Summer Camps' desc='In our off-season we hold summer camps and family engineering nights to inspire future engineers.' icon_class='fa fa-university' delay='400' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Opportunities' desc='We are more than robots. Team members can learn public speaking, engineering, time management, and much more.' icon_class='fa fa-wrench' delay='600' shape_class='icon-text-circle' %}
  </div>
</div>

<div class="spacing"></div>


<!--<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our services" %}
      <div class='spacing'></div>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.
      </p>
      <div class='three spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" alt="" src="images/@stock/responsive.png" />
      <div class='three spacing'></div>
    </div>
    <div class='medium-6 columns'>
      {% for service in page.services %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='spacing'></div>
</div>
-->

<div class='full parallax' style='background-image: url(images/home/IowaTeamPic.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Broncobots by the Numbers" color="#fff" %}
      <div class='spacing'></div>
      <p class='centered-text' style='color: #ccc;'>
        Over the years the Broncobots have inspired countless future engineers, attended dozens of
        competitions, won many awards, and changed the lives of many young people.
      </p>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for milestone in page.milestones %}
      <div class='medium-3 large-3 columns'>
        <div class='mod modMilestone'>
          <i class='fa fa-{{milestone.icon}}'></i>
          <strong data-from='{{milestone.from}}' data-to='{{milestone.to}}'>&nbsp;</strong>
          <span>{{milestone.title}}</span>
          <div class='four spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='two spacing'></div>
</div>

<!--{% include robotsindex.html %}-->

<!--<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our team" %}
      <div class='spacing'></div>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.
      </p>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for member in site.data.members %}
      <div class='small-6 medium-3 large-3 columns'>
        <div class='mod modTeamMember'>
          <div class='member'>
            <img class="avatar" alt="" src="{{ member.avatar }}" />
            <div class='overlay'>
              <div class='intro'>
                <h3>{{member.name}}</h3>
                <p>{{member.position}}</p>
                <ul class='socials'>
                  {% for social in member.socials %}
                    <li>
                      <a href='{{social.link}}'>
                        <i class='fa fa-{{social.icon}}'></i>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
-->
<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Recent blog posts" %}
      <div class='spacing'></div>
      <p>
        
      </p>
      <div class='two spacing'></div>
    </div>
  </div>

  <div class='row'>
    {% for post in site.posts %}
      {% if forloop.index > 3 %}
        {% break %}
      {% endif %}

      <div class='large-4 medium-4 columns'>
        <div class='mod modBlogPost'>
          {% for image in post.images %}
            {% unless forloop.first %}
              {% break %}
            {% endunless %}
            <a href="{{post.url}}"><img alt="" src="{{image}}" /></a>
          {% endfor %}
          <div class='content'>
            <p class='date'>{{post.date | date: "%B %d, %Y" }}</p>
            <h4><a href="{{post.url}}">{{post.title}}</a></h4>
            <p>{{post.excerpt}}</p>
            <!--
              <div class="tags">
                {% for cat in post.categories %}
                  <a href="#">{{cat | capitalize}}</a>
                  {% unless forloop.last %}
                    ,
                  {% endunless %}
                {% endfor %}
              </div>
            -->
          </div>
        </div>
      </div>

    {% endfor %}

  </div>


  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <a class='button' href='blog.html'>See more posts</a>
      </p>
    </div>
  </div>
  <div class='two spacing'></div>

</div>

<!--
{% include our-customers.html %}
-->


