---
layout: default
title: Media
section_id: about
---

<div class='full parallax' style='background-image: url(images/@stock/media.jpg); color: #fff;'>
    <div class='row'>
        <div class='twelve columns'>
            {% include section-header.html title="Media" color="#fff" tagline="Check out our media" class="big" %}
        </div>
    </div>
    <div class='four spacing'></div>
</div>

<div class='full'>
    <div class='row'>
        <div class='twelve columns'>
            <h3>Pictures</h3>
            <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.</p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.</p>
        </div>
    </div>
</div>


<div class='full'>
    <div class='row'>
        {% for album in site.data.albums %}
        <div class='small-6 medium-3 large-3 columns'>
            <div class='mod modTeamMember'>
                <div class='member'>
                    <img class="avatar" alt="" src="{{ album.thumbnail }}" />
                    <div class='overlay'>
                        <div class='intro'>
                            <h3>{{album.title}}</h3>
                        </div>
                    </div>
                </div>
                <p class='centered-text'>{{album.desc}}</p>
                <div class='two spacing'></div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


