---
layout: default
title: Our Awards
section_id: about
---

<div class='full parallax' style='background-image: url(images/our-awards.jpg); color: #fff;'>
    <div class='row'>
        <div class='twelve columns'>
            {% include section-header.html title="Our Awards" color="#fff" tagline="Over the Seasons" class="big" %}
        </div>
    </div>
    <div class='four spacing'></div>
</div>

<div class="full">
    <div class="row">
        
        {% include section-header.html title="2018" %}
        <ul style="list-style: square">
            <li>Greater Kansas City Quality Award</li>
            <li>First Dean's List Award - Sarah Ahern - Greater Kansas City Regional</li>
            <li>Oklahoma City Regional Industrial Design Award</li>
        </ul>

        
        {% include section-header.html title="2017" %}
        <ul style="list-style: square">
            <li>Winner - Greater Kansas City Regional</li>
            <li>FIRST Dean's List Finalist - Greater Kansas City Regional</li>
            <li>Excellence in Engineering Award sponsored by Delphi - Greater Kansas City Regional</li>
            <li>Regional Engineering Inspiration Award - Iowa Regional</li>
            <li>Safety Award sponsored by Underwriters Laboratories - Iowa Regional</li>
            <li>Winner - Missouri Robotics State Championship</li>
            <li>Winner - Kansas Cup</li>
        </ul>

        {% include section-header.html title="2016" %}
        <ul style="list-style: square">
            <li>FIRST Dean's List Finalist - Greater Kansas City Regional</li>
            <li>Entrepreneurship Award sponsored by Kleiner Perkins Caufield and Byers - Greater Kansas City Regional</li>
            <li>Industrial Safety Award sponsored by Underwriters Laboratories - Greater Kansas City Regional</li>
            <li>Regional Engineering Inspiration Award - Hub City Regional</li>
        </ul>

        {% include section-header.html title="2015" %}
        <ul style="list-style: square">
            <li>FIRST Dean's List Finalist - Greater Kansas City Regional</li>
            <li>Creativity Award sponsored by Xerox - Greater Kansas City Regional</li>
            <li>Creativity Award sponsored by Xerox - Buckeye Regional</li>
            <li>Industrial Safety Award sponsored by Underwriters Laboratories - Buckeye Regional</li>
        </ul>

        {% include section-header.html title="2014" %}
        <ul style="list-style: square">
            <li>Industrial Design Award sponsored by General Motors - Greater Kansas City Regional</li>
            <li>Industrial Safety Award sponsored by Underwriters Laboratories - Colorado Regional</li>
            <li>Quality Award sponsored by Motorola - Colorado Regional</li>
        </ul>

        {% include section-header.html title="2013" %}
        <ul style="list-style: square">
            <li>Chairman's Award - Alamo Regional</li>
        </ul>

        {% include section-header.html title="2012" %}
        <ul style="list-style: square">
            <li>Engineering Inspiration Award - St. Louis Regional</li>
            <li>Website Award - St. Louis Regional</li>
            <li>Judges' Award - Greater Kansas City Regional</li>
            <li>Website Award - Greater Kansas City Regional</li>
        </ul>

        {% include section-header.html title="2011" %}
        <ul style="list-style: square">
            <li>Quality Award sponsored by Motorola - Midwest Regional</li>
            <li>Website Award - Midwest Regional</li>
        </ul>

        {% include section-header.html title="2010" %}
        <ul style="list-style: square">
            <li>Chairman's Award - Oklahoma Regional</li>
            <li>Winner - Oklahoma Regional</li>
            <li>Entrepreneurship Award sponsored by Kleiner Perkins Caufield and Byers - Oklahoma Regional</li>
            <li>Website Award - Oklahoma Regional</li>
        </ul>

        {% include section-header.html title="2009" %}
        <ul style="list-style: square">
            <li>Chairman's Award - Colorado Regional</li>
            <li>Woodie Flowers Award - Colorado Regional</li>
        </ul>

        {% include section-header.html title="2008" %}
        <ul style="list-style: square">
            <li>Engineering Inspiration Award - Minnesota Regional</li>
            <li>Autodesk Visualization Award - Minnesota Regional</li>
        </ul>

        {% include section-header.html title="2007" %}
        <ul style="list-style: square">
            <li>Autodesk Visualization Award - Colorado Regional</li>
            <li>Delphi "Driving Tomorrow's Technology" Award - Colorado Regional</li>
        </ul>
    </div>
</div>
