---
layout: default
title: Resources
section_id: resources
---

<div class='full parallax' style='background-image: url(images/robots/robots-header.jpg); color: #fff;'>
    <div class='row'>
        <div class='twelve columns'>
            {% include section-header.html title="Resources" color="#fff" tagline="Technical Resources" class="big" %}
        </div>
    </div>
    <div class='four spacing'></div>
</div>

<div class="full" style="background: #fff;">
<div class="full">
    <div class="row">
        {% for resource in site.data.resources %}
            <p><b><a href="{{resource.link}}" target="_blank">{{resource.name}}</a></b></p>
        {% endfor %}
    </div>
</div>
    
