---
layout: default
title: Robots
section_id: portfolio
---

<div class='full parallax' style='background-image: url(images/robots/robots-header.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our robots" tagline="Have a look at our robots" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
      </div>


      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for robot in site.data.robots %}
          <li class="{{ robot.klass }}">
            <a href='{{ robot.link_to }}'>
              <img alt="" src="{{ robot.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ robot.title }}</h3>
                  <p>{{ robot.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>

    </div>
  </div>

  <div class='four spacing'></div>
</div>
