<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<style>
    @media screen and (max-width: 600px) {
        #mobile-darkness {
            {% if page.hero_black_text %}
                color: #FFFFFF;
            {% else %}
                color: #0a0a0a;
            {% endif %}
        }
    }
    @media screen and (min-width: 601px) {
        #mobile-darkness {
            {% if page.hero_black_text %}
                color: #0a0a0a;
            {% else %}
                color: #FFFFFF;
            {% endif %}
        }
    }

        .arrow-container {
        position: relative;
    }

    .arrow-container::before {
        content: "";
        position: absolute;
        bottom: calc(2.5% + 4em);
        right: calc(7.9% - 0.5em);
        width: 2.3em;
        height: 2.3em;
        background-color: rgba(128, 128, 128, 0.5);
        border-radius: 50%;
        animation: bounce 2s infinite;
    }

    .arrow-down {
        position: absolute;
        bottom: calc(2.5% + 3em);
        right: 8%;
        font-size: 1.5em;
        color: #fff;
        animation: bounce 2s infinite;
        cursor: pointer;
    }

    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-1.25rem);
        }
        60% {
            transform: translateY(-0.625rem);
        }
    }

    .scroll-down-text {
        position: absolute;
        bottom: calc(5% + 1.4em);
        right: 5.3%;
        color: #fff;
        font-size: 1.125em;
    }

    .hero-wrapper {
        height: calc(100vh - 3.25em);
        overflow: hidden;

    }
</style>

{% if page.hero_image %}
<div class="hero-wrapper">
    {% endif %}

    <section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary" {% if page.hero_image %} style="background: url('{{ page.hero_image }}') no-repeat center center; background-size: cover; height: 100%; " {% endif %}>
        <div class="hero-body {% if page.hero_darken %} hero-darken {% endif %}">
            <div class="container">
                <h1 class="title is-2" id="mobile-darkness" style="font-family:Rockwell; {% if page.down_breaks %} padding-top: 5em;{% endif %} " >{{ page.title }}</h1>
                <p class="subtitle is-3" id="mobile-darkness" style="font-family:Rockwell; {% if page.hero_black_text %} color: #000000; {% endif %}">{{ page.subtitle }}</p>


            </div>
        </div>

        {% if page.hero_image %}
        <div class="arrow-container">
            <i class="fa fa-arrow-down arrow-down" aria-hidden="true" onclick="scrollToNextSection()"></i>
            <div class="scroll-down-text">Scroll Down!</div>
        </div>
        {% endif %}
    </section>
    {% if page.hero_image %}
    <div id="target-section" style="height: 100vh; background-color: #f5f5f5;"></div>
</div>
{% endif %}

<script>
    {% if page.hero_image %}
    function scrollToNextSection() {
        const targetSection = document.getElementById("target-section");
        const scrollOffset = targetSection.getBoundingClientRect().top + window.scrollY;
        window.scrollTo({ top: scrollOffset, behavior: "smooth" });
    }

    document.querySelector('.arrow-down').addEventListener('click', scrollToNextSection);
    {% endif %}
</script>
