<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="../assets/css/navigationBar.css">

{% if page.hero_image %}
<div class="hero-wrapper">
{% endif %}

    <section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary" {% if page.hero_image %} style="background: url('{{ page.hero_image }}') no-repeat center center; background-size: cover; height: 100%;" {% endif %}>
        <div class="hero-body {% if page.hero_darken %} hero-darken {% endif %}">
            <div class="container">
                <h1 class="title is-2">{{ page.title }}</h1>
                <p class="subtitle is-3">{{ page.subtitle }}</p>
                {% if page.hero_link %}
                <a href="{{ page.hero_link | relative_url }}" class="button is-info is-large">{{ page.hero_link_text }}</a>
                {% endif %}
            </div>
        </div>

        {% if page.hero_image %}
        <div class="arrow-container">
            <!-- Use Font Awesome arrow icon -->
            <i class="fa fa-arrow-down arrow-down" aria-hidden="true" onclick="scrollToNextSection()"></i>
            <!-- Add the "Scroll Down!" text -->
            <div class="scroll-down-text">Scroll Down!</div>
        </div>
        {% endif %}
    </section>
{% if page.hero_image %}
    <!-- Add a target section that you want to scroll to -->
    <div id="target-section" style="height: 100vh; background-color: #f5f5f5;"></div>
</div>
{% endif %}

<script>
        function scrollToNextSection() {
            const targetSection = document.getElementById("target-section");
            const scrollOffset = targetSection.getBoundingClientRect().top + window.scrollY;
            window.scrollTo({ top: scrollOffset, behavior: "smooth" });
        }

    {% if page.hero_image %}
        document.querySelector('.arrow-down').addEventListener('click', scrollToNextSection);
    {% endif %}
</script>
