<style>
    /* Add a media query for smaller screens */
    @media screen and (max-width: 768px) {
        /* Adjust the breakpoint (768px) based on your preference */

        /* Center the "Read more" button */
        .has-text-centeredMobile {
            display: flex;
            justify-content: center;
        }

        /* Adjust the button's font size for better visibility */
        .full-rounded-mobile {
            font-size: 16px;
        }
    }
</style>

<div class="card">
    {% if post.image %}
    <link rel="stylesheet" href="/assets/css/buttonHover.css" />
    <div class="card-image">
        <img src="{{ site.baseurl }}/{{ post.image }}" alt="{{ post.title }}">
    </div>
    {% else %}
    <header class="card-header">
        <a class="card-header-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title}}</a>
    </header>
    {% endif %}
    <div class="card-content">
        <div class="content">
            {% if post.image %}
            <a class="title is-4" href="{{ site.baseurl }}{{ post.url }}">{{ post.title}}</a>
            {% endif %}
            {% if post.summary %}
            {{ post.summary | markdownify }}
            {% else %}
            <!-- <p>{{ post.excerpt }}</p> -->
            {% endif %}
        </div>
        <div class="has-text-centeredMobile">
            <a href="{{ site.baseurl }}{{ post.url }}">
                <buttonhover class="full-rounded-mobile">
                    <span>Read more</span>
                    <div class="border full-rounded-mobile"></div>
                </buttonhover>
            </a>
        </div>
    </div>
    <footer class="card-footer">
        <p class="card-footer-item">Published: {{ post.date | date: "%b %-d, %Y" }}</p>
    </footer>
</div>
