@charset "utf-8";
@font-face {
    font-family: 'Rockwell';
    src: url('../../assets/fonts/rockwell.eot'); /* IE9 Compat Modes */
    src: url('../../assets/fonts/rockwell.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../assets/fonts/rockwell.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../assets/fonts/rockwell.woff') format('woff'), /* Modern Browsers */
    url('../../assets/fonts/rockwell.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Rockwell');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$family-sans-serif: 'Roboto', 'Rockwell', 'Montserrat', sans-serif;
$primary: #830506 !default;
$secondary: #000000 !default;

$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;

$modal-content-width: 800px;

@import "../node_modules/bulma/bulma.sass";
$hero-darken: #202020 !default;

@import "layout";
@import "syntax";
@import "../node_modules/bulma-block-list/src/block-list.scss";

.gh-sponsor {
  color: #ea4aaa;
}

