---
---
//$primary: #830506;
//$secondary: #000000;
// Import Main CSS file from theme
#txt {
  width: 600px;
  height: 3.125em;
  box-sizing: border-box;
  border: 0.125em solid #ccc;
  border-radius: 0.25em;
  font-size: 1em;
  background-color: white;
  background-position: 0.625em 0.625em;
  background-repeat: no-repeat;
  padding: 0.75em 1.25em 0.75em 0.75em;
  transition: height,width 0.4s ease-in-out;
   -webkit-transition:all 0.4s;
}

#txt:focus {
  width: 600px;
  height: 200px;
}

details > summary {
  list-style: none;
  cursor: pointer;
}
details > summary::-webkit-details-marker {
  display: none;
  cursor: pointer;
}

@import "main";
