---
---
//$primary: #830506;
//$secondary: #000000;
// Import Main CSS file from theme
#txt {
  width: 600px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 12px;
  transition: height,width 0.4s ease-in-out;
   -webkit-transition:all 0.4s;
}

#txt:focus {
  width: 600px;
  height: 200px;
}

details > summary {
  list-style: none;
  cursor: pointer;
}
details > summary::-webkit-details-marker {
  display: none;
  cursor: pointer;
}

@import "main";