---
layout: default
---
<style>
    .card {
        opacity: 1; /* make the cards transparent by default */
        transition: opacity 0.2s ease-in-out; /* add a smooth transition effect when the opacity changes */
    }
    .card:hover { /* select all cards that are being hovered over with the mouse */
        opacity: 0.5; /* make the cards fully opaque */
    }
    .closeCard {
        display:block;
        position:absolute;
        top:0px;
        left:1%;
        color:black;
        height:30px;
        width:35px;
        font-size:4em;
        text-decoration:none;
        text-align:center;
        font-weight:bold;
    }
    .row {
        display: flex;
    }
    .column {
        flex: 50%;
    }
    h1 {
        text-align: center;
        color: black;
        font-size: 4em;
        font-family: "Roboto", "Rockwell", "Montserrat", sans-serif;
    }
    h2 {
        text-align: center;
        color: black;
        font-size: 2em;
        font-family: "Roboto", "Rockwell", "Montserrat", sans-serif;
    }
    #chart-wrapper {
        display: inline-block;
        position: relative;
        width: 95%;
    }
    .black_overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 32;
        -moz-opacity: 0.8;
        opacity: .80;
        filter: alpha(opacity=80);
    }
    .stopLoading {
        display:block;
        position:absolute;
        top:0px;
        right:2.5%;
        color:white;
        height:30px;
        width:35px;
        font-size:4em;
        text-decoration:none;
        text-align:center;
        font-weight:bold;
    }
    /*.logo-overlay {*/
    /*    display: none;*/
    /*    position: fixed;*/
    /*    top: 0;*/
    /*    left: 0;*/
    /*    width: 100%;*/
    /*    !*height: 100%;*!*/
    /*    background: linear-gradient(-45deg, darkred, #ACACAC, #830506, black);*/
    /*    background-size: 400% 400%;*/
    /*    animation: gradient 15s ease infinite;*/
    /*    height: 100vh;*/
    /*    z-index: 32;*/
    /*}*/
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    .white_content {
        display: none;
        position: fixed;
        top: 5%;
        /*bottom: 2.5%;*/
        left: 12.5%;
        width:75%;
        height:100%;
        padding: 16px;
        border:5px solid whitesmoke;
        border-radius:10px;
        background-color: white;
        z-index: 1002;
        overflow: auto;
        margin:0 auto;
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>


<script src="../assets/js/jquery-3.6.1.min.js"></script>
<script src="../assets/js/TbaApi.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<!--<link rel="stylesheet" href="/assets/css/loadingAnimation.css">-->
<script>
    $( document ).ready(function() {
        // if (events()) {
        //     // events();
        //     // years();
        //     // eventsPerYear("2022");
        //     // status();
        //     // isStillLoading();
        //     // isWorking();
        //     // createChart("2022");
        //     // pointsPerYear("2022");
        //     // awardsPerYear("2022");
        //     // awardNamesPerYear("2022");
        //     // averagePointsPerYear("2022");
        // }
    });
    // async function status() {
    //     let status = await getStatus();
    //     $("#status").html(status.is_datafeed_down?"unavailable":"Available");
    // }
    // async function isStillLoading() {
    //     let StillLoading = await isFinished();
    //     console.log(Boolean(StillLoading));
    //     $("#isStillLoading").html(StillLoading);
    // }
    // async function CurrentProggressStat(stat) {
    //     $("#CurrentProggressStat").html(stat);
    // }
    // async function isWorking() {
    //
    //     let status = await getStatus();
    //     let StillLoading = await isFinished();
    //
    //     if (!status.is_datafeed_down) {
    //         $("#isWorking").html(" ");
    //         console.log("TBAAPI is down");
    //         return false;
    //     } else {
    //         if (Boolean(StillLoading)) {
    //             $("#isWorking").html("");
    //             console.log("Everything appears to be working!");
    //             return true;
    //
    //             // document.getElementById('loading').style.display='none';
    //         } else {
    //             $("#isWorking").html(" ");
    //             console.log("Time out error");
    //             return false;
    //
    //         }
    //     }
    // }
    // async function currentProgress() {
    //     let timeWaiting = 0;
    //     let requestCounter = getRequestCounter();
    //     while (requestCounter > 0) {
    //         return ("There are " + requestCounter + " active call(s).");
    //         await new Promise(resolve => setTimeout(resolve, 500)); // wait for 1 second
    //         timeWaiting++; //in seconds
    //         if (timeWaiting > 15) {
    //             console.log(`There are ${requestCounter} active call(s). Timed Out.`);
    //             return false;
    //         }
    //     }
    //
    // }
    // async function events() {
    //     let events = await getEvents();
    //     // FIXME events.name isn't timely. promise is aborting
    //     $("#events").html(events.name?"No Events Available":events.map(ev =>
    //     {
    //         return "<br/>" + ev.name + " " + ev.year;
    //     }).toString().replaceAll(",",""));
    // }

    async function eventsPerYear(year) {
        let eventsPerYear = JSON.parse(sessionStorage.getItem("eventsPerYear" + year));
        if (eventsPerYear === null) {
            eventsPerYear = await getEventsPerYear(year);
            sessionStorage.setItem("eventsPerYear" + year, JSON.stringify(eventsPerYear));
        }

        // Check if eventsPerYear is an array and has length greater than 0
        if (Array.isArray(eventsPerYear) && eventsPerYear.length > 0) {
            // Display event names
            $(("#eventsPerYear" + year + ", #eventsPerYearCard" + year)).html(
                eventsPerYear.map(ev => {
                    return ev.event_name + "<br/>";
                })
            );
        } else {
            // Display "No Events Available"
            $(("#eventsPerYear" + year + ", #eventsPerYearCard" + year)).html("No Events Available");
        }
    }


    async function scoreData(year) {
        let scoreData = JSON.parse(sessionStorage.getItem("scoreData" + year));
        if (scoreData === null) {
            scoreData = await TeamInfoPerYear(year);
            sessionStorage.setItem("scoreData" + year, JSON.stringify(scoreData)); // Store scoreData instead of eventsPerYear
        }
        const { wins, losses, epa_end, winrate, total_epa_rank, country_epa_rank, state_epa_rank } = scoreData;

        const html = wins + " wins - " + total_epa_rank + " World Wide rank\<br\/\>"
            + losses + " losses - " + country_epa_rank + " Country rank\<br\/\>"
            + epa_end + " end epa - " + state_epa_rank + " State Rank\<br\/\>"
            + (winrate * 100).toFixed(2) + "% Win Rate";
        $("#scoreData" + year).html(html);
    }


    async function pointsPerMatchPerYear(year) {
        let matchesPerYear = await getMatchesPerYear(year);


        // Log the scores for matches with team 1987
        // matchesPerYear.forEach(match => {
        //     if (match.red_1 === 1987 || match.red_2 === 1987 || match.red_3 === 1987) {
        //         // console.log(match.red_score);
        //         matchesWithTeam1987 = match.red_score;
        //     } else if (match.blue_1 === 1987 || match.blue_2 === 1987 || match.blue_3 === 1987) {
        //         // console.log(match.blue_score);
        //         matchesWithTeam1987 = match.blue_score;
        //     } else {
        //         return -1;
        //     }
        // });

        return matchesPerYear;
    }

    async function createChart(year) {
        const data = await pointsPerMatchPerYear(year);

        // Sort the data array by the "time" property
        data.sort((a, b) => a.time - b.time);

        const ctx = document.getElementById('myChart' + year).getContext('2d');

        const redColor = '#FF0000';
        const blueColor = '#0000FF';

        const chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: data?.map(match => match.key), // use the match keys as the labels
                datasets: [{
                    label: 'Auto',
                    data: data?.map(match => {
                        // find the auto score for the red alliance in the match
                        if (match.red_1 === 1987 || match.red_2 === 1987 || match.red_3 === 1987) {
                            return match.red_auto !== undefined ? match.red_auto : null;
                        }
                        return null;
                    }),
                    backgroundColor: '#FF6666', // Light red color for auto segment
                    stack: 'composite',
                }, {
                    label: 'Teleop',
                    data: data?.map(match => {
                        // find the teleop score for the red alliance in the match
                        if (match.red_1 === 1987 || match.red_2 === 1987 || match.red_3 === 1987) {
                            return match.red_teleop !== null ? match.red_teleop : match.red_score;
                        }
                        return null;
                    }),
                    backgroundColor: '#FF0000', // Red color for teleop segment
                    stack: 'composite',
                }, {
                    label: 'Endgame',
                    data: data?.map(match => {
                        // find the endgame score for the red alliance in the match
                        if (match.red_1 === 1987 || match.red_2 === 1987 || match.red_3 === 1987) {
                            return match.red_endgame !== undefined ? match.red_endgame : null;
                        }
                        return null;
                    }),
                    backgroundColor: '#CC0000', // Dark red color for endgame segment
                    stack: 'composite',
                }, {
                    label: 'Auto',
                    data: data?.map(match => {
                        // find the auto score for the blue alliance in the match
                        if (match.blue_1 === 1987 || match.blue_2 === 1987 || match.blue_3 === 1987) {
                            return match.blue_auto !== undefined ? match.blue_auto : null;
                        }
                        return null;
                    }),
                    backgroundColor: '#6666FF', // Light blue color for blue auto segment
                    stack: 'composite',
                }, {
                    label: 'Teleop',
                    data: data?.map(match => {
                        // find the teleop score for the blue alliance in the match
                        if (match.blue_1 === 1987 || match.blue_2 === 1987 || match.blue_3 === 1987) {
                            return match.blue_teleop !== null ? match.blue_teleop : match.blue_score;
                        }
                        return null;
                    }),
                    backgroundColor: '#0000FF', // Blue color for blue teleop segment
                    stack: 'composite',
                }, {
                    label: 'Endgame',
                    data: data?.map(match => {
                        // find the endgame score for the blue alliance in the match
                        if (match.blue_1 === 1987 || match.blue_2 === 1987 || match.blue_3 === 1987) {
                            return match.blue_endgame !== undefined ? match.blue_endgame : null;
                        }
                        return null;
                    }),
                    backgroundColor: '#0000CC', // Dark blue color for blue endgame segment
                    stack: 'composite',
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        stacked: true, // Stacked bars
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                    xAxes: [{
                        stacked: true, // Stacked bars
                        ticks: {
                            display: false //this will remove only the label
                        }
                    }]
                }
            }
        });
    }



</script>

<div style="text-align: center">
<!--    <span id="isWorking" >-->
<!--        loading-->
<!--    </span>-->
</div>



<div class="columns is-multiline" id="years">
<!--<span id="isWorking" >-->
<!--    <div id="loading" class="logo-overlay" style="display:block"  >-->
<!--        <div class="loading-container">-->
<!--            <a href="/" class="stopLoading">&#x2716;</a>-->
<!--            <div class="loading"></div>-->
<!--            <div id="loading-image">-->
<!--                <img src="/images/Assets/Branding/broncobots.svg">-->
<!--            </div>-->
<!--            <div id="loading-text">loading</div>-->
<!--        </div>-->
<!--    </div>-->

<!--</span>-->

    <script>
        async function years() {
            let years = await getYearsParticipated();
            Array.from(years).forEach(year =>
                {
                    let html = `
                        <div class="column is-6-desktop is-12-tablet">
                            <a href="javascript:void(0)" onclick="document.getElementById('match` + year + `').style.display='block';document.getElementById('back').style.display='block'" style="color: black">
                            <div class="card">
                                <div class="card-content">
                                    <div class="content">
                                        <p class="title is-4 has-text-centered">` + year + `</p>
                                            <span id="eventsPerYear` + year + `" >
                                                loading
                                            </span>
                                    </div>
                                </div>
                                </a>
                            </div>
                        </div>

                        <div id="match` + year + `" class="white_content">
                            <a href="javascript:void(0)" onclick="document.getElementById('match` + year + `').style.display='none';document.getElementById('back').style.display='none'" class="closeCard">&#x2716;</a>
                            <h1>` + year + `</h1>
                            <div class="row">
                                <div class="column" style="text-align:center">
                                    <h2>Events</h2>
                                    <div style="font-size: 1.5em">
                                    <span id="eventsPerYearCard` + year + `">
                                        loading
                                    </span>
                                    </div>
                                    <div style="text-align:center; font-size: 2em">
                                        <span id="scoreData` + year + `">
                                            loading
                                        </span>
                                    </div>
                                    <br/><br/>
                                </div>
                                <div class="column">
                                <a href="/robots/` + year + `Robot/">
                                    <img src="/images/robots/` + year + `robot.png" alt=" " onerror=this.src="/images/robots/pending.png">
                                </a>
                                </div>
                            </div>'
                            <div style="text-align:center; font-size: 2em">
                                <div id="chart-wrapper">
                                    <canvas id="myChart` + year + `"></canvas>
                                </div>
                            </div>
                            <div style="text-align:center";font-size:1em">
                            <a href="https://www.thebluealliance.com/team/1987/` + year + `">Click me to see the Blue Alliance page from this year!</a>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                        </div>
                        </div>
                        <div id="back" class="black_overlay"></div>

                    `;
                    $("#years").prepend(html);
                    eventsPerYear( year );
                    scoreData( year );
                    createChart( year );
                });

        }

        years();
        // isWorking();
        // document.getElementById('loading').style.display = 'none';
    </script>
</div>

<div style="text-align:center">
    Powered by The Blue Alliance
    <br/>
    <a href="https://www.thebluealliance.com/">thebluealliance.com</a>

</div>
