---
layout: default
---

<div class="columns is-multiline">

    <div class="column is-6">
        <figure class="image is-1by1">
            <img src="{{ page.image }}" />
        </figure>
    </div>

    <div class="column is-6">
        <p class="title is-3">{{ page.title }}</p>
        <p class="subtitle is-3">{{ page.subtitle }}</p>
        <!--        {% if page.description %}-->
        <!--        <p class="subtitle is-5 has-text-right">{{ page.description }}</p>-->
        <!--        {% endif %}-->

        {% if page.awardsWon %}
        {% include awardsWon.html awards=page.awardsWon %}
        {% endif %}

        {% if page.features %}
        <div class="content">
            {% for feature in page.features %}
            <p>
                <span class="icon">
                    {% if feature.icon %}
                    <i class="fas {{ feature.icon }}"></i>
                    {% else %}
                    <i class="fas fa-circle fa-xs"></i>
                    {% endif %}
                </span>
                <span>{{ feature.label }}</span></p>
            {% endfor %}
        </div>
        {% endif %}

        {% if page.CompetitionLogo %}
        <img src="{{ page.CompetitionLogo }}" style="display: block; margin-left: auto; margin-right: auto; flex-shrink: 0; max-height: 20em; min-height: 10em"/>
        {% endif %}
    </div>

    <div class="column is-12">
        <p class="title is-4"></p>
        <div class="content">
            {{ content }}
        </div>
    </div>

    {% if site.data.reviews[page.robot_code] %}
    <div class="column is-12">
        <p class="title is-4">Reviews</p>
        {% for review in site.data.reviews[page.robot_code] %}
        {% include review.html %}
        {% endfor %}
    </div>
    {% endif %}

    <div class="column is-6">
        {% if page.Specifications %}
        <div class="content">
            <h2>Specifications</h2>
            <ul>
                {% for Specification in page.Specifications %}
                <li>{{ Specification.item }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if page.Capabilities %}
        <div class="content">
            <h2>Capabilities</h2>
            <ul>
                {% for Capability in page.Capabilities %}
                <li>{{ Capability.item }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

    <div class="column is-6">


        {% if page.Competitions %}
        <div class="content">
            <h2>Competitions</h2>
            <ul>
                {% for Competition in page.Competitions %}
                <li>{{ Competition.item }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if page.Links %}
        <div class="content">
            <h2>Links</h2>
            <div style="display: flex; flex-wrap: wrap;justify-content: center; align-items: center;">
                {% for Item in page.Links %}
                <a href="{{ Item.link }}"><div style="text-decoration: underline; font-size: 1.5em; margin-right: 2.5rem; margin-bottom: 1rem; width: 7em; height: 6em; background-color: #990202; border-radius: 24%; color: #F2F2F2; display: flex; justify-content: center; align-items: center;">{{ Item.item }}</div></a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>

</div>

<script src="../../assets/js/jquery-3.6.1.min.js"></script>
<script src="../../../assets/js/StatBoticsRESTApi.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script>
    $( document ).ready(function() {
        scoreData({{ page.robot_code }});
        createChart({{ page.robot_code }});
    });


    async function scoreData(year) {
        let scoreData = JSON.parse(sessionStorage.getItem("scoreData" + year));
        if (scoreData === null) {
            scoreData = await TeamInfoPerYear(year);
            sessionStorage.setItem("scoreData" + year, JSON.stringify(scoreData));
        }
        const { wins, losses, epa_end, winrate, total_epa_rank, country_epa_rank, state_epa_rank, state_team_count, total_team_count, country_team_count, total_epa_percentile } = scoreData;

        const percentileFormatted = (total_epa_percentile * 100).toFixed(0);
        const ordinalSuffix = getOrdinalSuffix(Math.floor(total_epa_percentile * 100));

        const html =
            '<div style="font-size: 1.5em; display: flex; flex-wrap: wrap;">' +
            '<div style="flex: 1; min-width: 250px; margin-right: 1rem;">' +
            wins + ' wins - ' + losses + ' losses<br/>' +
            epa_end + ' EPA<br/>' +
            (winrate * 100).toFixed(2) + '% Win Rate<br/>' +
            percentileFormatted + ordinalSuffix + " percentile<br/><br/>" +
            '</div>' +
            '<div style="display: flex; flex-wrap: wrap;">' +
            '<div style="font-size: 1em; margin-right: 2.5rem; margin-bottom: 1rem; width: 7em; height: 6em; background-color: #990202; border-radius: 24%; color: #F2F2F2; display: flex; justify-content: center; align-items: center;">Ranked<br/>' + state_epa_rank + '/' + state_team_count + '<br/>in Missouri</div>' +
            '<div style="font-size: 1em; margin-right: 2.5rem; margin-bottom: 1rem; width: 7em; height: 6em; background-color: #830506; border-radius: 24%; color: #F2F2F2; display: flex; justify-content: center; align-items: center;">Ranked<br/>' + country_epa_rank + '/' + country_team_count + '<br/>in the USA</div>' +
            '<div style="font-size: 1em; width: 7em; height: 6em; background-color: #990202; border-radius: 24%; color: #F2F2F2; display: flex; justify-content: center; align-items: center;">Ranked<br/>' + total_epa_rank + '/' + total_team_count + '<br/>in the world</div>' +
            '</div>' +
            '</div>';

        $("#scoreData").html(html);
    }






    async function pointsPerMatchPerYear(year) {
        let matchesPerYear = await getMatchesPerYear(year);
        return matchesPerYear;
    }

    async function createChart(year) {
        const data = await pointsPerMatchPerYear(year);

        // Sort the data array by the "time" property
        data.sort((a, b) => a.time - b.time);

        const ctx = document.getElementById('myChart').getContext('2d');

        const redColor = '#FF0000';
        const blueColor = '#0000FF';

        const chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: data?.map(match => match.key), // use the match keys as the labels
                datasets: [{
                    label: 'Auto',
                    data: data?.map(match => {
                        // find the auto score for the red alliance in the match
                        if (match.red_1 === 1987 || match.red_2 === 1987 || match.red_3 === 1987) {
                            return match.red_auto !== undefined ? match.red_auto : null;
                        }
                        return null;
                    }),
                    backgroundColor: '#FF6666', // Light red color for auto segment
                    stack: 'composite',
                }, {
                    label: 'Teleop',
                    data: data?.map(match => {
                        // find the teleop score for the red alliance in the match
                        if (match.red_1 === 1987 || match.red_2 === 1987 || match.red_3 === 1987) {
                            return match.red_teleop !== null ? match.red_teleop : match.red_score;
                        }
                        return null;
                    }),
                    backgroundColor: '#FF0000', // Red color for teleop segment
                    stack: 'composite',
                }, {
                    label: 'Endgame',
                    data: data?.map(match => {
                        // find the endgame score for the red alliance in the match
                        if (match.red_1 === 1987 || match.red_2 === 1987 || match.red_3 === 1987) {
                            return match.red_endgame !== undefined ? match.red_endgame : null;
                        }
                        return null;
                    }),
                    backgroundColor: '#CC0000', // Dark red color for endgame segment
                    stack: 'composite',
                }, {
                    label: 'Auto',
                    data: data?.map(match => {
                        // find the auto score for the blue alliance in the match
                        if (match.blue_1 === 1987 || match.blue_2 === 1987 || match.blue_3 === 1987) {
                            return match.blue_auto !== undefined ? match.blue_auto : null;
                        }
                        return null;
                    }),
                    backgroundColor: '#6666FF', // Light blue color for blue auto segment
                    stack: 'composite',
                }, {
                    label: 'Teleop',
                    data: data?.map(match => {
                        // find the teleop score for the blue alliance in the match
                        if (match.blue_1 === 1987 || match.blue_2 === 1987 || match.blue_3 === 1987) {
                            return match.blue_teleop !== null ? match.blue_teleop : match.blue_score;
                        }
                        return null;
                    }),
                    backgroundColor: '#0000FF', // Blue color for blue teleop segment
                    stack: 'composite',
                }, {
                    label: 'Endgame',
                    data: data?.map(match => {
                        // find the endgame score for the blue alliance in the match
                        if (match.blue_1 === 1987 || match.blue_2 === 1987 || match.blue_3 === 1987) {
                            return match.blue_endgame !== undefined ? match.blue_endgame : null;
                        }
                        return null;
                    }),
                    backgroundColor: '#0000CC', // Dark blue color for blue endgame segment
                    stack: 'composite',
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        stacked: true, // Stacked bars
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                    xAxes: [{
                        stacked: true, // Stacked bars
                        ticks: {
                            display: false //this will remove only the label
                        }
                    }]
                },
                legend: {
                    display: false // Hide the color labels from the legend
                },
                tooltips: {
                    callbacks: {
                        // Show the label name in the tooltip when hovering over the bar
                        label: function (tooltipItem, data) {
                            return data.datasets[tooltipItem.datasetIndex].label + ': ' + tooltipItem.yLabel;
                        }
                    }
                }
            }
        });
    }
</script>

<div class="column is-12">
    <p class="title is-3">Score Data</p>
    <div id="scoreData" class="content">
        loading...
    </div>
    <div id="chart-wrapper">
        <canvas id="myChart"></canvas>
    </div>
</div>

<div style="text-align:center">
    Want more? Check out this year's
    <a href="https://www.thebluealliance.com/team/1987/{{ page.robot_code }}" target="_blank">
        Blue Alliance
    </a>
    Page!
</div>
<br/>
<br/>





<div style="text-align:center">
    Powered by Statbotics REST API
    <br/>
    <a href="https://www.statbotics.io/">statbotics.io</a>

</div>
