---
layout: default
---

<div class="columns is-multiline">

    <div class="column is-6">
        <figure class="image is-1by1">
            <img src="{{ page.image }}" />
        </figure>
    </div>

    <div class="column is-6">
        <p class="title is-3">{{ page.title }}</p>
        <p class="subtitle is-3">{{ page.subtitle }}</p>
<!--        {% if page.description %}-->
<!--        <p class="subtitle is-5 has-text-right">{{ page.description }}</p>-->
<!--        {% endif %}-->

        {% if page.awardsWon %}
            {% include awardsWon.html awards=page.awardsWon %}
        {% endif %}

        {% if page.features %}
        <div class="content">
            {% for feature in page.features %}
            <p>
                <span class="icon">
                    {% if feature.icon %}
                    <i class="fas {{ feature.icon }}"></i>
                    {% else %}
                    <i class="fas fa-circle fa-xs"></i>
                    {% endif %}
                </span>
                <span>{{ feature.label }}</span></p>
            {% endfor %}



        </div>
        {% endif %}

        {% if page.CompetitionLogo %}
        <img src="{{ page.CompetitionLogo }}" style="display: block; margin-left: auto; margin-right: auto; flex-shrink: 0; max-height: 20em; min-height: 10em"/>
        {% endif %}
    </div>

    <div class="column is-12">
        <p class="title is-4"></p>
        <div class="content">

            {{ content }}
        </div>
    </div>

    {% if site.data.reviews[page.robot_code] %}
    <div class="column is-12">
        <p class="title is-4">Reviews</p>
        {% for review in site.data.reviews[page.robot_code] %}
        {% include review.html %}
        {% endfor %}
    </div>
    {% endif %}

<div style="display: block; margin-left: auto; margin-right: auto;">
    <table>
        <tr>
            <td style="padding-right: 12em; padding-left: 12em">
                {% if page.Specifications %}
                <div class="content">
                    <h2>Specifications</h2>
                    <ul>
                    {% for Specification in page.Specifications %}
                    <li>{{ Specification.item }}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}

                {% if page.Capabilities %}
                <div class="content">
                    <h2>Capabilities</h2>
                    <ul>
                        {% for Capability in page.Capabilities %}
                        <li>{{ Capability.item }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </td>
            <td style="padding-right: 12em; padding-left: 12em">
                {% if page.Competitions %}
                <div class="content">
                    <h2>Competitions</h2>
                    <ul>
                        {% for Competition in page.Competitions %}
                        <li>{{ Competition.item }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </td>
        </tr>
    </table>
</div>

</div>

