---
layout: default
---

<style>

    .hide-column {
        display: none;
    }

    .card {
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
    }

    .card:hover {
        opacity: 0.5;
    }

    .closeCard {
        display: block;
        position: absolute;
        top: 0;
        left: 1%;
        color: black;
        height: 1.875em;
        width: 2.1875em;
        font-size: 4em;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
    }

    .row {
        display: flex;
    }

    .column {
        flex: 50%;
    }

    h1 {
        color: black;
        font-size: 4em;
        font-family: "Rockwell", "Roboto", "Montserrat", sans-serif;
    }

    h2 {
        text-align: center;
        color: black;
        font-size: 2em;
        font-family: "Rockwell", "Roboto", "Montserrat", sans-serif;
    }

    #chart-wrapper {
        display: inline-block;
        position: relative;
        width: 95%;
    }

    .black_overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 1001;
        -moz-opacity: 0.8;
        opacity: .80;
        filter: alpha(opacity=80);
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    .white_content {
        display: none;
        position: fixed;
        top: 5%;
        left: 12.5%;
        width: 75%;
        height: 90%;
        padding: 1em;
        border: 0.3125em solid whitesmoke;
        border-radius: 0.625em;
        background-color: white;
        z-index: 1002;
        overflow: auto;
        margin: 0 auto;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @media screen and (max-width: 600px) {
        .column {
            flex: 100%;
        }

        h1 {
            font-size: 2.5em;
        }

        h2 {
            font-size: 1.5em;
        }

        #chart-wrapper {
            width: 100%;
        }

        .closeCard {
            font-size: 2em;
        }

        #mobile-warning {
            display: block;
            text-align: center;
            padding: 0.625em;
            background-color: #f7b6b6;
            font-size: 1.2em;
            font-weight: bold;
        }
    }

    @media screen and (min-width: 601px) {
        #mobile-warning {
            display: none;
        }
    }

    .loading-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    .loading-spinner {
        border: 0.25em solid rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        border-top: 0.25em solid #ffffff;
        width: 3.125em;
        height: 3.125em;
        animation: spin 2s linear infinite;
    }

    .RankButton {
        font-size: 1.4em;
        margin-bottom: 1.25rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 7em;
        height: 6em;
        background-color: #990202;
        border-radius: 24%;
        color: #F2F2F2;
    }
</style>

<div class="loading-overlay" id="loadingOverlay">
    <div class="loading-spinner"></div>
</div>

<script src="../assets/js/jquery-3.6.1.min.js"></script>
<script src="../assets/js/StatBoticsRESTApi.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script>
    $(document).ready(function () {
        showLoading();
        $(".white_content").click(function (event) {
            event.stopPropagation();
        });

        $(".closeCard").click(function () {
            const year = this.id.replace("match", "");
            document.getElementById('match' + year).style.display = 'none';
            document.getElementById('back').style.display = 'none';
        });

        $(".black_overlay").click(function () {
            $(".white_content").hide();
            $(".black_overlay").hide();
        });
    });


    document.addEventListener('DOMContentLoaded', function() {
        function checkWidth() {
            if (window.innerWidth < 1000) {
                document.querySelectorAll('.column-to-hide').forEach(function(column) {
                    column.classList.add('hide-column');
                });
            } else {
                document.querySelectorAll('.column-to-hide').forEach(function(column) {
                    column.classList.remove('hide-column');
                });
            }
        }

        checkWidth(); // Check width on page load

        window.addEventListener('resize', function() {
            checkWidth(); // Check width on resize
        });
    });

</script>

<div style="text-align: center">
</div>

<div id="mobile-warning">
    Some information may not display properly on mobile devices. For a better experience, please use a computer.
</div>

<div class="columns is-multiline" id="years">

    <script>
        function showLoading() {
            document.getElementById('loadingOverlay').style.display = 'flex';
        }

        function hideLoading() {
            document.getElementById('loadingOverlay').style.display = 'none';
        }

        async function years() {
            let years = await getYearsParticipated();
            Array.from(years).forEach(async year => {
                let html = `
                        <div class="column is-6-desktop is-12-tablet">
                            <a href="javascript:void(0)" onclick="document.getElementById('match` + year + `').style.display='block';document.getElementById('back').style.display='block'" style="color: black">
                            <div class="card">
                                <div class="card-content">
                                    <div class="content">
                                        <p class="title is-4 has-text-centered">` + year + `</p>
                                            <span id="eventsPerYear` + year + `" >
                                                loading
                                            </span>
                                    </div>
                                </div>
                                </a>
                            </div>
                        </div>

                        <div id="match` + year + `" class="white_content">
                            <a href="javascript:void(0)" onclick="document.getElementById('match` + year + `').style.display='none';document.getElementById('back').style.display='none'" class="closeCard">&#x2716;</a>
                            <h1 style="text-align: center;">` + year + `</h1>
                            <div class="row">
                                <div class="column" style="text-align:center">
                                    <h2>Events</h2>
                                    <div style="font-size: 1.5em">
                                    <span id="eventsPerYearCard` + year + `">
                                        loading
                                    </span>
                                    </div>
                                    <br/>
                                    <br/>
                                    <h2>Year Statistics</h2>
                                    <div style="text-align:center;">
                                        <span id="scoreData` + year + `">
                                            loading
                                        </span>
                                        <br/>
                                        <a href="https://teambroncobots.com/awards/">Click me to see the Awards page!</a> <br/>
                                        <a href="https://www.statbotics.io/team/1987#overview">or here to see the Statbotics page!</a>

                                    </div>
                                    <br/><br/>
                                </div>
                                <div class="column column-to-hide">
                                <a href="/robots/` + year + `Robot/">
                                    <img src="/images/robots/` + year + `robot.png" alt=" " onerror=this.src="/images/robots/pending.png">
                                </a>
                                </div>
                            </div>
                            <div style="text-align:center; font-size: 2em">
                                <div id="chart-wrapper">
                                    <canvas id="myChart` + year + `"></canvas>
                                </div>
                            </div>
                            <div style="text-align:center";font-size:1em">
                            <a href="https://www.thebluealliance.com/team/1987/` + year + `">Click me to see the Blue Alliance page from this year!</a>

                        </div>
                        </div>
                        <div id="back" class="black_overlay"></div>

                    `;
                $("#years").prepend(html);
                eventsPerYear(year);
                scoreData(year, false);
                createChart(year);
            });

            await isFinished();
            hideLoading();
        }

        years();
    </script>
</div>

<div style="text-align:center">
    Powered by Statbotics REST API
    <br/>
    <a href="https://www.statbotics.io/">statbotics.io</a>
</div>
