---
layout: default
---

<style>
    .card {
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
    }

    .card:hover {
        opacity: 0.5;
    }

    .closeCard {
        display: block;
        position: absolute;
        top: 0;
        left: 1%;
        color: black;
        height: 1.875em;
        width: 2.1875em;
        font-size: 4em;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
    }

    .row {
        display: flex;
    }

    .column {
        flex: 50%;
    }

    h1 {
        color: black;
        font-size: 4em;
        font-family: "Rockwell", "Roboto", "Montserrat", sans-serif;
    }

    h2 {
        text-align: center;
        color: black;
        font-size: 2em;
        font-family: "Rockwell", "Roboto", "Montserrat", sans-serif;
    }

    #chart-wrapper {
        display: inline-block;
        position: relative;
        width: 95%;
    }

    .black_overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 1001;
        -moz-opacity: 0.8;
        opacity: .80;
        filter: alpha(opacity=80);
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    .white_content {
        display: none;
        position: fixed;
        top: 5%;
        left: 12.5%;
        width: 75%;
        height: 90%;
        padding: 1em;
        border: 0.3125em solid whitesmoke;
        border-radius: 0.625em;
        background-color: white;
        z-index: 1002;
        overflow: auto;
        margin: 0 auto;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @media screen and (max-width: 600px) {
        .column {
            flex: 100%;
        }

        h1 {
            font-size: 2.5em;
        }

        h2 {
            font-size: 1.5em;
        }

        #chart-wrapper {
            width: 100%;
        }

        .closeCard {
            font-size: 2em;
        }

        #mobile-warning {
            display: block;
            text-align: center;
            padding: 0.625em;
            background-color: #f7b6b6;
            font-size: 1.2em;
            font-weight: bold;
        }
    }

    @media screen and (min-width: 601px) {
        #mobile-warning {
            display: none;
        }
    }

    .loading-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    .loading-spinner {
        border: 0.25em solid rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        border-top: 0.25em solid #ffffff;
        width: 3.125em;
        height: 3.125em;
        animation: spin 2s linear infinite;
    }

    .RankButton {
        font-size: 1.4em;
        margin-bottom: 1.25rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 7em;
        height: 6em;
        background-color: #990202;
        border-radius: 24%;
        color: #F2F2F2;
    }
</style>

<div class="loading-overlay" id="loadingOverlay">
    <div class="loading-spinner"></div>
</div>

<script src="../assets/js/jquery-3.6.1.min.js"></script>
<script src="../assets/js/StatBoticsRESTApi.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script>
    $(document).ready(function () {
        showLoading();
        $(".white_content").click(function (event) {
            event.stopPropagation();
        });

        $(".closeCard").click(function () {
            const year = this.id.replace("match", "");
            document.getElementById('match' + year).style.display = 'none';
            document.getElementById('back').style.display = 'none';
        });

        $(".black_overlay").click(function () {
            $(".white_content").hide();
            $(".black_overlay").hide();
        });
    });

    async function eventsPerYear(year) {
        let eventsPerYear = JSON.parse(sessionStorage.getItem("eventsPerYear" + year));
        if (eventsPerYear === null) {
            eventsPerYear = await getEventsPerYear(year);
            sessionStorage.setItem("eventsPerYear" + year, JSON.stringify(eventsPerYear));
        }

        if (year === 2021) {
            $(("#eventsPerYear" + year + ", #eventsPerYearCard" + year)).html("No Data Available");
        } else if (Array.isArray(eventsPerYear) && eventsPerYear.length > 0) {
            $(("#eventsPerYear" + year + ", #eventsPerYearCard" + year)).html(
                eventsPerYear.map(ev => {
                    return ev.event_name + "<br/>";
                })
            );
        } else {
            $(("#eventsPerYear" + year + ", #eventsPerYearCard" + year)).html("No Events Available");
        }
    }

    async function scoreData(year) {
        let scoreData = JSON.parse(sessionStorage.getItem("scoreData" + year));
        if (scoreData === null) {
            scoreData = await TeamInfoPerYear(year);
            sessionStorage.setItem("scoreData" + year, JSON.stringify(scoreData));
        }
        if (year === 2021) {
            $("#scoreData" + year).html("No Data Available");
        } else {
            const { wins, losses, epa_end, winrate, total_epa_rank, country_epa_rank, state_epa_rank, state_team_count, total_team_count, country_team_count, total_epa_percentile } = scoreData;

            const percentileFormatted = (total_epa_percentile * 100).toFixed(0);
            const ordinalSuffix = getOrdinalSuffix(Math.floor(total_epa_percentile * 100));

            const html =
                '<div style="font-size: 1.5em;">' +
                wins + " wins - " + losses + " losses<br/>" +
                epa_end + " EPA<br/>" +
                (winrate * 100).toFixed(2) + "% Win Rate<br/>" +
                percentileFormatted + ordinalSuffix + " percentile<br/><br/>" +
                '</div>' +
                '<div style="display: flex;flex-wrap: wrap; flex-direction: row; justify-content: space-around; align-items: center;">' +
                '<div class="RankButton">Ranked <br/> ' + state_epa_rank + '/' + state_team_count + '<br/> in Missouri <br/> </div>' +
                '<div class="RankButton">Ranked <br/> ' + country_epa_rank + '/' + country_team_count + '<br/> in the USA </div>' +
                '<div class="RankButton">Ranked <br/>' + total_epa_rank + '/' + total_team_count + '<br/> in the world </div>' +
                '</div>';

            $("#scoreData" + year).html(html);
        }
    }

    async function pointsPerMatchPerYear(year) {
        let matchesPerYear = await getMatchesPerYear(year);
        return matchesPerYear;
    }

    async function createChart(year) {
        const data = await pointsPerMatchPerYear(year);
        if (year === 2021 || data.length === 0) {
            $("#chart-wrapper").html("No Data Available");
            return;
        }
        data.sort((a, b) => a.time - b.time);

        const ctx = document.getElementById('myChart' + year).getContext('2d');

        const redColor = '#FF0000';
        const blueColor = '#0000FF';

        const chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: data?.map(match => match.key),
                datasets: [{
                    label: 'Auto',
                    data: data?.map(match => {
                        if (match.red_1 === 1987 || match.red_2 === 1987 || match.red_3 === 1987) {
                            return match.red_auto !== undefined ? match.red_auto : null;
                        }
                        return null;
                    }),
                    backgroundColor: '#FF6666',
                    stack: 'composite',
                }, {
                    label: 'Teleop',
                    data: data?.map(match => {
                        if (match.red_1 === 1987 || match.red_2 === 1987 || match.red_3 === 1987) {
                            return match.red_teleop !== null ? match.red_teleop : match.red_score;
                        }
                        return null;
                    }),
                    backgroundColor: '#FF0000',
                    stack: 'composite',
                }, {
                    label: 'Endgame',
                    data: data?.map(match => {
                        if (match.red_1 === 1987 || match.red_2 === 1987 || match.red_3 === 1987) {
                            return match.red_endgame !== undefined ? match.red_endgame : null;
                        }
                        return null;
                    }),
                    backgroundColor: '#CC0000',
                    stack: 'composite',
                }, {
                    label: 'Auto',
                    data: data?.map(match => {
                        if (match.blue_1 === 1987 || match.blue_2 === 1987 || match.blue_3 === 1987) {
                            return match.blue_auto !== undefined ? match.blue_auto : null;
                        }
                        return null;
                    }),
                    backgroundColor: '#6666FF',
                    stack: 'composite',
                }, {
                    label: 'Teleop',
                    data: data?.map(match => {
                        if (match.blue_1 === 1987 || match.blue_2 === 1987 || match.blue_3 === 1987) {
                            return match.blue_teleop !== null ? match.blue_teleop : match.blue_score;
                        }
                        return null;
                    }),
                    backgroundColor: '#0000FF',
                    stack: 'composite',
                }, {
                    label: 'Endgame',
                    data: data?.map(match => {
                        if (match.blue_1 === 1987 || match.blue_2 === 1987 || match.blue_3 === 1987) {
                            return match.blue_endgame !== undefined ? match.blue_endgame : null;
                        }
                        return null;
                    }),
                    backgroundColor: '#0000CC',
                    stack: 'composite',
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        stacked: true,
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                    xAxes: [{
                        stacked: true,
                        ticks: {
                            display: false
                        }
                    }]
                },
                legend: {
                    display: false
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            return data.datasets[tooltipItem.datasetIndex].label + ': ' + tooltipItem.yLabel;
                        }
                    }
                }
            }
        });
    }

</script>

<div style="text-align: center">
</div>

<div id="mobile-warning">
    Some information may not display properly on mobile devices. For a better experience, please use a computer.
</div>

<div class="columns is-multiline" id="years">

    <script>
        function showLoading() {
            document.getElementById('loadingOverlay').style.display = 'flex';
        }

        function hideLoading() {
            document.getElementById('loadingOverlay').style.display = 'none';
        }

        async function years() {
            let years = await getYearsParticipated();
            Array.from(years).forEach(async year => {
                let html = `
                        <div class="column is-6-desktop is-12-tablet">
                            <a href="javascript:void(0)" onclick="document.getElementById('match` + year + `').style.display='block';document.getElementById('back').style.display='block'" style="color: black">
                            <div class="card">
                                <div class="card-content">
                                    <div class="content">
                                        <p class="title is-4 has-text-centered">` + year + `</p>
                                            <span id="eventsPerYear` + year + `" >
                                                loading
                                            </span>
                                    </div>
                                </div>
                                </a>
                            </div>
                        </div>

                        <div id="match` + year + `" class="white_content">
                            <a href="javascript:void(0)" onclick="document.getElementById('match` + year + `').style.display='none';document.getElementById('back').style.display='none'" class="closeCard">&#x2716;</a>
                            <h1 style="text-align: center;">` + year + `</h1>
                            <div class="row">
                                <div class="column" style="text-align:center">
                                    <h2>Events</h2>
                                    <div style="font-size: 1.5em">
                                    <span id="eventsPerYearCard` + year + `">
                                        loading
                                    </span>
                                    </div>
                                    <br/>
                                    <br/>
                                    <h2>Year Statistics</h2>
                                    <div style="text-align:center;">
                                        <span id="scoreData` + year + `">
                                            loading
                                        </span>
                                        <br/>
                                        <a href="https://teambroncobots.com/awards/">Click me to see the Awards page!</a> <br/>
                                        <a href="https://www.statbotics.io/team/1987#overview">or here to see the Statbotics page!</a>

                                    </div>
                                    <br/><br/>
                                </div>
                                <div class="column">
                                <a href="/robots/` + year + `Robot/">
                                    <img src="/images/robots/` + year + `robot.png" alt=" " onerror=this.src="/images/robots/pending.png">
                                </a>
                                </div>
                            </div>
                            <div style="text-align:center; font-size: 2em">
                                <div id="chart-wrapper">
                                    <canvas id="myChart` + year + `"></canvas>
                                </div>
                            </div>
                            <div style="text-align:center";font-size:1em">
                            <a href="https://www.thebluealliance.com/team/1987/` + year + `">Click me to see the Blue Alliance page from this year!</a>

                        </div>
                        </div>
                        <div id="back" class="black_overlay"></div>

                    `;
                $("#years").prepend(html);
                eventsPerYear(year);
                scoreData(year);
                createChart(year);
            });

            await isFinished();
            hideLoading();
        }

        years();
    </script>
</div>

<div style="text-align:center">
    Powered by Statbotics REST API
    <br/>
    <a href="https://www.statbotics.io/">statbotics.io</a>
</div>
